.profilePic{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.profileContainer{
    display: flex;
    margin: 20px;
}
@media screen and (max-width: 760px){
    .profileContainer{
        flex-direction: column-reverse;
    }
}